---
layout: resume
title: "Jeff Spaulding - Resume"
description: "IT Systems Engineer, Autism Advocate, and Overall Wizard"
---

<div id="table-of-contents">
  <div id="toc-header">Table of Contents</div>
  <ol>
    <li><a href="#">(Top)</a></li>
    <li><a href="#summary">Executive Summary</a></li>
    {% if site.resume_section_techstack %}
    <li><a href="#techstack">Technology Stack</a></li>
    {% endif %}
    {% if site.resume_section_experience %}
    <li><a href="#experience">Work Experience</a></li>
      <ol>
        {% for job in site.data.experience %}
        {% if job.id %}
        <li><a href="#{{ job.id }}">{{ job.company }}</a></li>
        {% endif %}
        {% endfor %}
      </ol>
    {% endif %}
    {% if site.resume_section_education %}
    <li><a href="#education">Education</a></li>
    {% endif %}
    {% if site.resume_section_certifications %}
    <li><a href="#certifications">Certifications</a></li>
    {% endif %}
    {% if site.resume_section_books %}
    <li><a href="#books">Favorite Books</a></li>
    {% endif %}
  </ol>
</div>

<!-- begin Executive Summary -->
<section class="content-section">
  <div class="title-bar no-print">

    <!-- Job title is also defined in the _config.yml file -->
    <h2 id="summary" class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

    {% include icon-links.html %}
  </div>

  <div class="executive-summary" itemprop="description">
    {{ site.resume_executive_summary }}
  </div>

  {% if site.resume_looking_for_work == 'yes' %}
  <span class="open-to-work no-print">I am <b>#opentowork</b>!</span>
  <a href="https://linkedin.com/in/jeffspaulding" class="contact-button no-print" itemprop="email">Contact Me on LinkedIn</a>
  {% endif %}

</section>

{% if site.resume_section_techstack %}
<!-- begin Technology Stack -->
<section class="content-section">

  <header id="techstack" class="section-header">
    <h2>Technology Stack</h2>
  </header>
  <p>
  {% for category in site.data.techstack %}
  <b>{{ category.name }}: </b>{{ category.list }}</br>
  {% endfor %}
  </p>

</section>
<!-- end Technology Stack -->
{% endif %}

{% if site.resume_section_experience %}
<!-- begin Experience -->
<section class="content-section">

  <header id="experience" class="section-header">
    <h2>Work Experience</h2>
  </header>

  {% for job in site.data.experience %}
  <div id="{{ job.id }}" class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    {% if job.image %}
    <img src="{{ job.image }}" class="resume-item-image" alt="{{ job.company }}" itemprop="image">
    {% endif %}
    {% if job.company %}
    <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
    {% endif %}
    <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
    {% if job.summary %}
    <p class="resume-item-copy">{{ job.summary }}</p>
    {% endif %}
  </div><!-- end of resume-item -->
  {% endfor %}

</section>
<!-- end Experience -->
{% endif %}


{% if site.resume_section_education %}
<!-- begin Education -->
<section class="content-section">
  <header id="education" class="section-header">
    <h2>Education</h2>
  </header>

  {% for education in site.data.education %}
  <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
    <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
    <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
    <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
    <p class="resume-item-copy" itemprop="description">
      <ul class="resume-item-list">
        {% for award in education.awards %}
        <li>{{ award.award }}</li>
        {% endfor %}
      </ul>


    <p class="resume-item-copy">{{ education.summary }}</p>
  </div>
  {% endfor %}
</section>
<!-- end Education -->
{% endif %}

{% if site.resume_section_certifications %}
<!-- begin Certifications -->
<section class="content-section">

  <header id="certifications" class="section-header">
    <h2>Certifications</h2>
  </header>

  <p>
  {% for certification in site.data.certifications %}
  {{ certification.cert }}{% unless forloop.last %},{% endunless %}
  {% endfor %}
  </p>

</section>
<!-- end Certifications -->
{% endif %}


{% if site.resume_section_books %}
<!-- begin Favorite Books -->
<section class="content-section">

  <header id="books" class="section-header">
    <h2>Favorite Books</h2>
  </header>

  <ul>
    {% for book in site.data.books %}
    <li><a href="{{ book.link }}">{{ book.title }}</a> by {{ book.author }}</li>
    {% endfor %}
  </ul>

</section>
<!-- end Favorite Books -->
{% endif %}